  <div class="shape"></div>
  <div class="shape1"></div>

<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg transparent" style="background-color:rgba(255, 255, 255, 0.04)">
         <div class="panel-heading">
          <h3 class="pt-3 font-weight-bold" style="color: #0a1432; font-size:35px">Login</h3>
        </div>
        <div class='panel-body.p-3'>
          <form>
            <div class="form-group pt-3" >
              <div class="input-field">
                <span class="fa fa-user p-2"></span>
                  <input type="text" placeholder="Username">

              </div>
            </div>
          </form>
          <form>
            <div class="form-group pt-3">
              <div class="input-field">
                <span class="fa fa-lock p-2"></span>
                  <input type="password" placeholder="Password">

              </div>
            </div>
            <div class="div from-inline fr mt-4">
              <a id="forget" class="fonr-weight-bold">Forget Password?</a>
            </div>
          <a href="formulaire" type="submit" class="btn" style="margin-left: 30px ;">Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

